:host {
  width: 100%;
  margin: 10px 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 5px;
}

.error-message {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 3px;
  color: #ff0000;
  font-size: 12px;
}